body{    
    font-family: 'Source Serif Pro', serif;
}
h1{
    font-size: 60px;
}
#first-heading{
    margin-bottom: 10px;
}
#big-heading{
    border-left: 5x solid;
    border-image: linear-gradient(tomato,yellow);
    border-image-slice: 1;
}
.flex-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(tomato,salmon);
    border-radius: 5px;
}
.orange-color{
    color: orange;
}
h2{
    font-size: 45px;
    text-align: center;
}
.mission-vision-goals{    
    display: flex;    
    padding-left: 10px;
    padding-right: 10px;   
}
.trio-width{
    width: 80%;   
    background-color: plum;
    border-radius: 10px;
    padding: 2%;
    margin-right: 20px;    
}
.trio-width img{
    width: 40%;
}
.fourty-width{
    width: 40%;
    padding-left: 10%;
    
}
.fourty-width img{
    width: 90%;
}
.sixty-width{
    width: 60%;    
}
#develop{
    padding-right: 10%;
}
section{
    margin-bottom: 100px;
}
h3{
    font-size: 30px;
}
#community{
    padding-left: 10%;
    width: 60%;
}
#project-img{
    width: 50%;
    margin-right: 10%;
}